aiohttp==3.8.5
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
chardet==5.0.0
discord==2.1.0
discord.py==2.1.0
graphviz==0.20.1
idna==3.4
inflect==6.0.2
multidict==6.0.2
multimethod==1.9
PuLP==2.7.0
pyparsing==3.0.9
python-dotenv==0.21.0
railroad-diagrams==2.0.4
soupsieve==2.3.2.post1
tabulate==0.9.0
typing-extensions==4.4.0
yarl==1.8.1